body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

input {
    height: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

div {
    margin: 1rem;
}

button {
    border-radius: 5px;
    background-color: white;
    border-color: black;
    padding: 10px;
    box-shadow: 1px gray;
}

li {
    list-style: none;
}